# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Build
.next/
out/

# Local configs
.env
.env.local
.env.vercel

# Temp files
*.tmp
*.bak
.vercel
.playwright-mcp/
